<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67363314491-ificase877lmibjo8s1nuhdrn5hvd2oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67363314491-ificase877lmibjo8s1nuhdrn5hvd2oj</string>
	<key>API_KEY</key>
	<string>AIzaSyBUWtzBYHbZ_9-Etouyo3-XjcNxfezQjqw</string>
	<key>GCM_SENDER_ID</key>
	<string>67363314491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoCiclista</string>
	<key>PROJECT_ID</key>
	<string>proyectociclista-6e820</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectociclista-6e820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67363314491:ios:a58bffa4df5d187499351e</string>
</dict>
</plist>